@import "colors.css";

* {
  margin: 0;
  background-color: transparent;
  font-family: Mojangles, JetBrainsMono Nerd Font Mono;
}

.main {
  background-color: transparent;
  border-top: solid 0px @primary;
}

#pulseaudio,
#workspaces,
#clock,
#backlight,
#custom-music,
#network,
#custom-notification,
#custom-launcher,
#tray,
#tray1 {
  background-color: @background;
  color: @primary;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  border-radius: 24px;
  border: 2px solid @primary;
  margin-top: 15px;
  margin-bottom: 0px;
}

#tray {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent
}

#tray1 {
  padding-left: 11px;
  padding-right: 14px
}


#workspaces button {
  border: solid 2px @primary;
  border-radius: 8px;
  padding: 0px 4px 0px 4px;
  margin: 5px;
  background: transparent;
  transition: 0.2s linear;
  color: transparent;
}

#workspaces button.active {
  background-color: @primary;
  transition: 0.2s linear;
  border-radius: 24px;
}

tooltip,
#tray menu {
  background-color: @surface;
  border: 2px solid @primary;
}

#pulseaudio-slider {
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-color: @primary;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 150px;
  border-radius: 5px;
  background: @on_surface;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @primary;
}
