@import "./colors-wofi.css";

/* Main Window */
window {
  margin: 0;
  border-radius: 24px;
  background-color: var(--surface);
}

#outer-box {
  margin: 15px;
  padding: 10px;
  border-radius: 24px;
  border: 2px solid var(--outline);
  background-color: var(--surface);
  font-family: "Mojangles";
}

/* Search Bar Container */
/* Search Input */
#input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: none;
  color: var(--on-surface);
  background-color: color-mix(in srgb, var(--surface-variant), transparent 50%);
  outline: none;
}

#img {
  margin-right: 12px;
  /* This creates the gap between icon and text */
  background-color: transparent;
}

/* Individual Results */
#entry {
  padding: 8px;
  margin: 4px 0px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

/* Active Selection */
#entry:selected {
  background-color: var(--primary);
}

#text:selected {
  color: var(--on-primary);
  font-weight: bold;
}

/* Scrollbar styling (optional, keeps it clean) */
#scroll {
  margin-top: 5px;
}
