@import "/home/xyphe/.config/wofi/colors-wofi.css";

* {
  font-family: Mojangles;
  font-size: 16px;
  transition: 0.3s;
}

#window {
  border-radius: 24px;
  background-color: transparent;
}

#outer-box {
  background-color: @surface;
  border-radius: 24px;
  border: 3px solid @primary;
  padding: 1.2rem;
}

#inner-box {
  padding: 4px;
}

#input {
  margin-bottom: 1.2rem;
  padding: 2px
}

#entry {
  padding: 15px;
  border-radius: 24px;
}

#text {
  padding-left: 15px;
}

#text:selected {
  color: @on_primary;
}

#entry:selected {
  border-radius: 24px;
  background-color: @primary;
}
